@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@500&display=swap');
:root {
	font-family: 'Inter', sans-serif;
	--headerheight: 10vh;
	--sidebarwidth: 20vw;
	--lightergrey: rgb(229,229,229);
}
* {
	box-sizing: border-box;
}
body {
  margin: 0;
}
.header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	height: var(--headerheight);
	letter-spacing: 2px;
	background-color:white;
	font-family: 'Montserrat', sans-serif;
	border-bottom: 1px solid var(--lightergrey);
	padding: 30px;
	position: fixed;
	width: 100vw;
	z-index: 999;
}
.nav-list {
	display: flex;
	justify-content: space-around;
	width: 30%;
}
ul.no-style {
	list-style-type: none;
}
ul.no-style a {
	text-decoration: none;
	color: black;
}
.nav-list a {
	text-decoration: none;
	color: black;
}
.sidebar {
	position:fixed;
	width: var(--sidebarwidth);
	height: 100vh;
	top: var(--headerheight);
	overflow: hidden;
	transition: width 0.5s;
	white-space: nowrap;
}
.sidebar.hidden {
	width: 0 !important;
}
.sidebar-list {
	border-right: 1px solid var(--lightergrey);
	height: 100vh;
	margin-block-start: 0;
	padding-inline-start: 0;
}
.sidebar-list li {
	display: flex;
	border-bottom: 1px solid var(--lightergrey);
	transition: background-color 0.2s;
}
.sidebar-list li:hover {
	cursor: pointer;
	background-color: var(--lightergrey);
}
.sidebar-list a {
	width: 100%;
	padding: 10px 20px 10px 20px;
}
.sidebar-list a[page="info"]::before {
	content: "\f05a";
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
	margin-right: 5px;
}
.sidebar-list a[page="anim"]::before {
	content: "\f008";
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	pointer-events: none;
	margin-right: 5px;
}
#content {
	padding: 20px;
	position: absolute;
	width: calc( 100vw - var(--sidebarwidth) - var(--sidebarwidth) );
	left: var(--sidebarwidth);
	top: var(--headerheight);
}
h5 {
	margin: 5px;
}
#logo a {
	text-decoration: none;
	color: black;
}
